#container{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
}

#container img{
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}

#container input{
    border: 1px solid #555;
    border-radius: 10px 10px 0px 0px;
    padding: 5px 10px;
    outline: none;
}

#container #nav{
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -92%);
    display: block;
    text-align: center;
}

@media only screen and (max-width: 480px){
    body{
        margin: 0;
    }
    #container{
        display: flex;
        flex-direction: column;
        width: inherit;
        margin: auto;
    }
    
    #container img{
        margin-bottom:38px;
        width: 100%;
        border-radius: 0px;
    }
    
    #container input{
        border-radius: 0px;
        border: 1px solid #555;;
        padding: 10px 10px;
        outline: none;
        position: fixed;
        overflow: hidden;
        bottom: 0;
        width: 400px;
    }
}
